

# Create a new directory and enter it
mkd() {
    mkdir -p "$@" && cd "$@"
}

# Print README file
readme() {
    for readme in {readme,README}.{md,MD,markdown,txt,TXT,mkd}; do
        if [[ -f "$readme" ]]; then
            cat "$readme"
        fi
    done
}

# Weather
weather() {
    curl -s "https://wttr.in/${1:-Ponorogo}?m2" | sed -n "1,27p"
}


clickup(){ 
  local git_branch=$(git symbolic-ref --short HEAD 2>/dev/null)
  local trimmed_branch="${git_branch:3}"
  if [ "$(uname -s)" = "Darwin" ]; then
    open "https://app.clickup.com/t/${1:-$trimmed_branch}"
  else
    xdg-open "https://app.clickup.com/t/${1:-$trimmed_branch}"
  fi
}

jira(){ 
  local git_branch=$(git symbolic-ref --short HEAD 2>/dev/null)
  if [ "$(uname -s)" = "Darwin" ]; then
    open "https://charger1.atlassian.net/jira/software/c/projects/CHAR/boards/2?modal=detail&selectedIssue=${1:-$git_branch}"
  else
    xdg-open "https://charger1.atlassian.net/jira/software/c/projects/CHAR/boards/2?modal=detail&selectedIssue=${1:-$git_branch}"
  fi
}
lambda(){ 
  local git_branch=$(git symbolic-ref --short HEAD 2>/dev/null)
  if [ "$(uname -s)" = "Darwin" ]; then
    open "https://us-west-2.console.aws.amazon.com/lambda/home?region=us-west-2#/functions"
  else
    xdg-open "https://us-west-2.console.aws.amazon.com/lambda/home?region=us-west-2#/functions"
  fi
}


sqs(){ 
  local git_branch=$(git symbolic-ref --short HEAD 2>/dev/null)
  if [ "$(uname -s)" = "Darwin" ]; then
    open "https://us-west-2.console.aws.amazon.com/sqs/v2/home?region=us-west-2"
  else
    xdg-open "https://us-west-2.console.aws.amazon.com/sqs/v2/home?region=us-west-2"
  fi
}



fluid(){
  if [[ $# -eq 0 ]]; then 
    goto fluid	
  elif [[ $1 == 'session' ]]; then
    local session="fluid"
    if [[ -z "$TMUX" ]]; then
      tmux has-session -t $session 2>/dev/null
      if [ $? != 0 ]; then
        tmux new -d -s $session -n main 
        tmux send-keys -t $session:main "goto fluid" Enter
        # tmux send-keys -t $session:main "bundle exec rails s" Enter
        tmux attach -t $session:main
      else
        tmux attach-session -t $session
      fi
    fi
  fi
}

fluid-mobile() {
  # Step 1: Get the current IP address
  CURRENT_IP=$(ipconfig getifaddr en0) # For Mac
  # Uncomment the line below for Linux systems
  # CURRENT_IP=$(hostname -I | awk '{print $1}')

  # Step 2: Change directory to the mobile app
  cd  ~/Development/fluid/fluid-mobile || { echo "Failed to navigate to app directory"; return 1; }

  # Step 3: Replace IP in config.ts
  CONFIG_FILE="config.ts"
  sed -i '' "s#BaseConfig.host = 'http://.*:3000'#BaseConfig.host = 'http://$CURRENT_IP:3000'#g" "$CONFIG_FILE"
  sed -i '' "s#BaseConfig.socket = '.*:3000'#BaseConfig.socket = '$CURRENT_IP:3000'#g" "$CONFIG_FILE"

  # Step 4: Use Node.js version and run yarn commands
  git checkout main
  git pull origin main
  nvm use
  yarn install
  yarn start:fluid-development
}


function cd() {
  builtin cd "$@"

  if [[ -z "$VIRTUAL_ENV" ]] ; then
    ## If env folder is found then activate the vitualenv
      if [[ -d ./.venv ]] ; then
        source ./.venv/bin/activate
      fi
  else
    ## check the current folder belong to earlier VIRTUAL_ENV folder
    # if yes then do nothing
    # else deactivate
      parentdir="$(dirname "$VIRTUAL_ENV")"
      if [[ "$PWD"/ != "$parentdir"/* ]] ; then
        deactivate
      fi
  fi
}

cpwifi() {
    # Get the IP address of the Wi-Fi interface (en0)
    ip_address=$(ipconfig getifaddr en0)

    # Check if the command was successful
    if [[ $? -eq 0 && -n $ip_address ]]; then
        # Copy the IP address to the clipboard
        echo -n "$ip_address" | pbcopy
        echo "IP address ($ip_address) copied to clipboard."
    else
        echo "Failed to retrieve IP address. Ensure you're connected to Wi-Fi."
    fi
}
